<?xml version='1.0' encoding='utf-8'?>
<widget id="net.skatgame.webiss" version="0.9.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>webiss</name>
  <description>
    A mobile app for playing Skat on ISS
  </description>
  <content src="index.html" />
  <access origin="http://127.0.0.1*"/> <!-- allow local pages -->
  <access origin="*" />
  <preference name="useBrowserHistory" value="true" />
  <preference name="exit-on-suspend" value="false" />    
  <preference name="orientation" value="landscape" />
</widget>
